

<header class="bg-purple-950 flex flex-col items-center h-50 lg:h-60 xl:h-70  mx-auto rounded-xl">
    <div class="w-15 h-15 rounded-full overflow-hidden mt-5 mb-5 lg:mt-8 lg:mb-8 xl:mt-11 xl:mb-11">
        <img class="w-full h-full object-cover" src="public/listado-tareas-logo.png" alt="lista_tareas">
    </div>
    <h1 class="text-white text-4xl lg:text-5xl xl:text-6xl font-bold text-center pb-3">TareaFacil</h1>
    <span class="text-white">Administrador de tareas corporativas</span>
</header>