<div class="grid grid-cols-1 grid-rows-[auto_1fr] h-screen
                md:grid-cols-[250px_1fr]  
                lg:grid-cols-[1fr_4fr]   
                xl:grid-cols-[1fr_5fr]">
    <app-header class="col-span-full"></app-header>

     <app-nav class="col-start-1 col-end-2 row-start-2 row-end-3
                        md:col-start-1 md:col-end-2  md:row-start-2 md:row-end-3"></app-nav>

     <app-main class=" col-start-1 col-end-2  row-start-3 row-end-4 bg-gray-100 p-8 overflow-y-auto h-screen
                      md:col-start-2 md:col-end-3 md:row-start-2 md:row-end-3"></app-main>
</div>